<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2> Dashboard</h2>
  </div>
  <div class="col-md-6">
  
  </div>
  <a href="api/post/new" id="new-post">
  <button id="new-post" >Create new post</button>
  </a>
</div>
<script src="./js/login.js"></script>