    <section class="post-form">
      <form
        class="flex-row justify-center justify-space-between-md align-center"
        id="post-form"
      > 
         <div class="col-12">
          <textarea
            name="postTitle"
            id="postTitle"
            placeholder="New post title"
            
            class="form-input w-100"
          ></textarea>
        </div>
        <div class="col-12">
          <textarea
            name="postContent"
            id="postContent"
             placeholder="Write something"
            value=""
            class="form-input w-100"
          ></textarea>
        </div>
        

        <div class="col-12 col-lg-3">
          <button class="btn btn-primary btn-block py-3" type="submit">
            Add Post
          </button>
        </div>
      </form>
      